
<h1>List of <%= name %></h1>

<table class="article-list">
<tr><th>Name</th><th>Author</th><th>Date</th></tr>
<% sitemap.resources.each do |r| %>
<% if r.path.include?(folder) && !r.data.not_in_list %>
<% unless r.path.include?(not_folder) %>
<tr>
<td><%= link_to(r.data.name, "/" + r.path)%></td>
<% if r.data.author %>
<td><%= r.data[:author] %></td>
<% else %>
<td>&nbsp;</td>
<% end %>
<% if r.data.date %>
<td><%= r.data[:date] %></td>
<% else %>
<td>&nbsp;</td>
<% end %>
</tr>
<% end %>
<% end %>
<% end %>
</table>