---
name: "Epistemological Tutorial"
---

Ruslim.Org is a <u>practical</u> guide to ignorance/knowledge: we
study *quantitative* aspects of what we know and how, applying them to
*real* situations, in order to improve *ourselves* and *society*
([read in full](/about-us/epistemological-tutorial.html)).

Don't know where to start? Start with [Death](/essay/death.html) -->
[The end of life](/essay/end-of-life.html) --> [Death:
practical](/essay/death-practical.html) -->
Read [Confession](/reading-club/confession-tolstoy.html) by Leo Tolstoy

---

Tutorial "Death & Life":  
(*1,2,... -- claims; I,II,... -- conclusions; see also links*)

- 1: [Rational activity assumes a goal/aspiration, justifying the activity](/essay/end-of-life.html#importance-of-the-end)
- 2: [The goal of a rational activity lies after its end](/essay/end-of-life#the-end-of-life)
- 3: [Death is an inevitable end of life](/essay/death.html)
- I: --**1 + 2 + 3**--> [The end/goal of life is at/after death](/essay/end-of-life.html#the-end-of-life)
- 4: [Anything beyond life belongs to beliefs](/essay/end-of-life.html#the-end-of-life-and-belief)
- II: --**I + 4**--> [The goal of the entire (rational) life has something to do with beliefs](/ru/essay/end-of-life.html#the-end-of-life-and-belief)
- III: --**1**-->  Life without an overarching aim is irrational, especially empirically (TBD)
- VII.1: --**I + II + III**-->  The goal of life is impossible without a belief. Life without a belief is irrational
- ...

---

Read also: [How to read](/about-us/how-to-read.html) | [Who Are We?](/about-us/who-are-we.html) | [Etymology of
Ruslim](/about-us/etymology.html)

[Contact us](/contact-us.html)

<div class="front-page-wrapper">
<div class="front-page">
<h3>Latest essays</h3>
<%= partial("/most-recent-articles", :locals => {:excl => "ru/", :incl => ["essay/"]}) %>
</div>

<div class="front-page">
<h3>Latest readings</h3>
<%= partial("/most-recent-articles", :locals => {:excl => "ru/", :incl => ["reading-club/"]}) %>
</div>
</div>

---

<div>
 <%= partial("/iterate-with-summary", :locals => { :name => "Featured content", :header_level => 2, :incl => ["essay","reading-club","valuable"], :excl => "ru/", :max_count => 3, :longer => 1, :featured => 1 }) %>
</div>

---

<h3>Ruslim.Org in pictures</h3>

<img alt="Shifting Education Paradigm" src="images/banners/ruslim_theme_en.jpg" width="100%" >

<img alt="Great New Ideas" src="images/banners/great_idea_en.jpg" width="100%" >

<img alt="Various ways, one goal" src="images/banners/main_theme_en.jpg" width="100%" >

<img alt="Death" src="images/banners/death_full.jpg" width="100%" >




