<h1>(Бес)полезное</h1>

Понятие книги претерпело значительные изменения за последнюю пару
тысяч лет. От полного уважения и почитания, к архаичной мудрости и
пищи для диалога, затем к абсолютной повсеместности и даже
редуцированию самого понятия до уровня практических руководств для
профанов и руководств к глупости. Одним словом, пишут нынче книги все
--- от поп-звезд до президентов.

И это было бы все ничего, если бы не тот аромат уважения и почитания,
тянущийся вот уже несколько тысяч лет за тем, что мы называем
"книга". Такое безразборчивое и ширпотребное использование и
написание книг никак более не сочетается с "книжным" почитанием. Но
тем не менее рефлекс, какой-то непонятный инстинкт остался...

В этом разделе мы бы хотели показать, что идеи, так часто нынче
развиваемые в современных книгах, приходят разумному и читающему
(настоящие книги) человеку в среднем по 5-10 раз на дню. И пусть будут
насмешкой над всей книжной индустрией настоящего нижеприведенные идеи,
которые, будь они доработаны и обдуманы чуток поглубже, смогли бы с
легкостью наполнить содержание очередной (не) очень выдающейся
книги. Мы отказываемся от всяких прав на эти идеи, и каждый может их
использовать на свое усмотрение.

---
---

<%= partial("/iterate-with-summary", :locals => { :incl => "ru/valuable/", :excl => "", :name => "", :lang => "ru", :max_count => 100}) %>
